@model HealthTrac.Models.Team

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name </h1>
<h3>Created @Model.DateCreated.ToString("MMMM dd, yyyy")</h3>
<h3>Team Description: @Model.Description</h3>
<h3>Team Members</h3>
<table cellpadding="10">
    <tr>
        <th>User Name</th>
        <th>Member Since</th>
        <th>Admin Status</th>
    </tr>
    @foreach (var membership in Model.Memberships)
    {
        if (membership.MembershipStatus == HealthTrac.Models.MembershipStatus.MEMBER || membership.MembershipStatus == HealthTrac.Models.MembershipStatus.ADMIN)
        {
            <tr>
                <td>
                    @Html.ActionLink(membership.User.UserName, "Profile", "User", new { id = membership.User.Id }, null)
                </td>
                <td>
                    @membership.DateCreated.ToString("MMMM dd, yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelMember => membership.MembershipStatus)
                </td>
            </tr>
        }
    }
</table>