@model IEnumerable<HealthTrac.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (Model != null)
{
    @using (Html.BeginForm())
    {
        <p>
            Search for Users: @Html.TextBox("id") <br />
            <input type="submit" value="Search" />
        </p>
    }
    
    if (Model.Count() == 0)
    {
        <h4>No results were found</h4>
    }
    else
    {
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Created</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelUser => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelUser => user.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelUser => user.DateCreated)
                    </td>
                </tr>
            }
        </table>
    }
    
}



