@model HealthTrac.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.FirstName @Model.LastName (@Model.UserName)</h1>

<h3>User Since: @Model.DateCreated.ToString("MMMM dd, yyyy")</h3>
<h3>Birthday: @if (Model.BirthDate.HasValue) { @Model.BirthDate.Value.ToString("MMMM dd, yyyy") }</h3>
<h3>Sex: @Model.Sex</h3>
<h3>Height: @Model.Height</h3>
<h3>Weight: @Model.Width</h3>


